In [3]:
# These session notes from Will may provide answers if some Python functionality provided in Teams does not work...

# session_1_data_wrangling.py
# https://github.com/data-to-insight/ERN-sessions/blob/main/No%20Local%20Python/session_1_data_wrangling.py

# session_1_making_it_an_app.py
# https://github.com/data-to-insight/ERN-sessions/blob/main/No%20Local%20Python/session_1_making_it_an_app.py

# requirements:  plotly

In [4]:
# list comprehension
 
lc_evens = [num for num in range(1, 101) if (num % 2 == 0) & (num % 3 == 0)]
print(lc_evens)
 
# slow, take a lot of lines
evens = []
for num in range(1, 101):
    if num % 2 == 0:
        evens.append(num)
 
print(evens)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
import pandas as pd
import glob
import sys

In [6]:
# The tricky bit here is accessing a folder full of csv files that are stored in one of Will's Github folders (in the cloud).
# One working solution is to copy all the csv files to an MN Github folder.
# This path below works, it is a reference to an MN folder in Github.
path = r'/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9'

# The glob.glob() function does not work in a web location (absolute reference starting https:), so don't try to make this work.

# Do I have to copy the csv files to an MN Github folder?
# To make sure we have these csv files safely kept, # copying them is a good idea anyway.

# But can we get this working using Will's Github folder?
# path = r'/workspaces/data-to-insight/ERN-sessions/No Local Python/data'
# I haven't been able to make this work so far.
# Advice from Ben/Declan is that you do have to copy the csv files to your own folder.
 
files = glob.glob(path + "/*.csv")

print(files)

['/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c4_children_in_need_section_47s_and_icpcs_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d1_child_protection_plans_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d6_cpps_reviewed_within_timescales_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a4_cin_by_ethnicity_and_age_gender_2018_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d5_cpps_at31march_by_duration_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/ons_mid-year_population_estimates_2012_to_2023.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c2_children_in_need_assessments_duration_2014_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d3_cpps_subsequent_plan_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c1_children_in_need_referrals_and_rereferrals_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b3_cin_primary_need_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b7_child_in_need_plans_2022_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b5_children_in_need_duration_of_ended_episode_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/headline_figures_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d8_cpps_ending_in_first_6months_by_duration_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b1_children_in_need_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b2_children_in_need_recorded_disability_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c6_children_in_need_referrals_by_month_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d2_cpps_starting_by_category_of_abuse_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d4_cpps_at31march_by_category_of_abuse_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b6_children_in_need_reason_for_closure_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a6_cpp_initial_category_of_abuse_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a1_cin_assessments_episodes_referrals_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a3_cin_primary_need_by_age_gender_2018_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a5_cpp_initial_category_of_abuse_by_gender_age_ethnicity_2018_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c3_factors_identified_at_end_of_assessment_2018_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a7_cin_by_age_gender_ethnicity_2015_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/b4_children_in_need_duration_of_open_episode_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/a2_section47_icpc_cpp_2013_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/c5_children_in_need_referrals_by_source_2014_to_2024.csv', '/workspaces/Python_ESCC_course/python_tutorial_code/course_2/data_mod2_8-9/d7_cpps_ending_by_duration_2013_to_2024.csv']

In [7]:
dfs = {}
 
for f in files:
    df = pd.read_csv(f)
 
    key_string = f.split("/")[-1][:-17]

    dfs[key_string] = df
 
print(dfs)
print(key_string)

{'c4_children_in_need_section_47s_and_icpcs':       time_period time_identifier geographic_level country_code country_name  \
0            2024  Reporting year         National    E92000001      England
1            2024  Reporting year         Regional    E92000001      England
2            2024  Reporting year         Regional    E92000001      England
3            2024  Reporting year         Regional    E92000001      England
4            2024  Reporting year         Regional    E92000001      England
...           ...             ...              ...          ...          ...
1962         2013  Reporting year  Local authority    E92000001      England
1963         2013  Reporting year  Local authority    E92000001      England
1964         2013  Reporting year  Local authority    E92000001      England
1965         2013  Reporting year  Local authority    E92000001      England
1966         2013  Reporting year  Local authority    E92000001      England

     region_code               region_name  old_la_code new_la_code  \
0            NaN                       NaN          NaN         NaN
1      E12000001                North East          NaN         NaN
2      E12000002                North West          NaN         NaN
3      E12000003  Yorkshire and The Humber          NaN         NaN
4      E12000004             East Midlands          NaN         NaN
...          ...                       ...          ...         ...
1962   E13000002              Outer London        315.0   E09000024
1963   E13000002              Outer London        317.0   E09000026
1964   E13000002              Outer London        318.0   E09000027
1965   E13000002              Outer London        319.0   E09000029
1966   E13000002              Outer London        320.0   E09000031

                   la_name  ... ICPC_rate ICPC_child ICPC_child_rate  \
0                      NaN  ...      60.2      71140            59.3
1                      NaN  ...     101.2       5310            99.3
2                      NaN  ...      66.4      10480            65.5
3                      NaN  ...      72.6       8370            71.8
4                      NaN  ...      57.7       5770            56.7
...                    ...  ...       ...        ...             ...
1962                Merton  ...      39.5        174            38.9
1963             Redbridge  ...      24.5        177            24.5
1964  Richmond upon Thames  ...      21.8         87            20.9
1965                Sutton  ...      49.5        215            48.9
1966        Waltham Forest  ...      36.3        226              36

     Duration_0-10_days Duration_11-15_days Duration_16-20_days  \
0                  6800               50780                6300
1                   210                4290                 480
2                  1230                7430                 920
3                   490                5870                 870
4                   590                3520                 570
...                 ...                 ...                 ...
1962                 21                  58                  15
1963                 20                  98                  29
1964                 24                  39                   8
1965                117                  63                  19
1966                  9                  62                  35

     Duration_21+_days Duration_25th_Percentile Duration_median  \
0                 8350                       13              14
1                  440                       13              14
2                 1040                       12              14
3                 1240                       13              14
4                 1180                       12              14
...                ...                      ...             ...
1962                77                       13              17
1963                30                       13              14
1964                20                       10              14
1965                18                        5               9
1966               122                       15              21

     Duration_75th_Percentile
0                          15
1                          15
2                          15
3                          15
4                          18
...                       ...
1962                       36
1963                       17
1964                       19
1965                       14
1966                       29

[1967 rows x 26 columns], 'd1_child_protection_plans':       time_period time_identifier geographic_level country_code country_name  \
0            2024  Reporting year         National    E92000001      England
1            2024  Reporting year         Regional    E92000001      England
2            2024  Reporting year         Regional    E92000001      England
3            2024  Reporting year         Regional    E92000001      England
4            2024  Reporting year         Regional    E92000001      England
...           ...             ...              ...          ...          ...
1962         2013  Reporting year  Local authority    E92000001      England
1963         2013  Reporting year  Local authority    E92000001      England
1964         2013  Reporting year  Local authority    E92000001      England
1965         2013  Reporting year  Local authority    E92000001      England
1966         2013  Reporting year  Local authority    E92000001      England

     region_code               region_name  old_la_code new_la_code  \
0            NaN                       NaN          NaN         NaN
1      E12000001                North East          NaN         NaN
2      E12000002                North West          NaN         NaN
3      E12000003  Yorkshire and The Humber          NaN         NaN
4      E12000004             East Midlands          NaN         NaN
...          ...                       ...          ...         ...
1962   E13000002              Outer London        315.0   E09000024
1963   E13000002              Outer London        317.0   E09000026
1964   E13000002              Outer London        318.0   E09000027
1965   E13000002              Outer London        319.0   E09000029
1966   E13000002              Outer London        320.0   E09000031

                   la_name  ... CPP_end CPP_end_rate CPP_child_end  \
0                      NaN  ...   62870         52.4         62640
1                      NaN  ...    4700         87.8          4680
2                      NaN  ...    9100         56.9          9070
3                      NaN  ...    7570         64.9          7540
4                      NaN  ...    5250         51.6          5230
...                    ...  ...     ...          ...           ...
1962                Merton  ...     171         38.2           171
1963             Redbridge  ...     179         24.8           179
1964  Richmond upon Thames  ...      53         12.7            53
1965                Sutton  ...     222         50.4           222
1966        Waltham Forest  ...     212         33.8           212

     CPP_child_end_rate CPP_anypoint CPP_anypoint_rate CPP_child_anypoint  \
0                  52.2       112770                94             111280
1                  87.4         8230             153.8               8120
2                  56.7        16900             105.7              16700
3                  64.8        13230             113.6              13100
4                  51.5         9110              89.7               8980
...                 ...          ...               ...                ...
1962               38.2          333              74.4                330
1963               24.8          294              40.7                294
1964               12.7          122              29.2                122
1965               50.4          379              86.1                377
1966               33.8          395                63                394

     CPP_child_anypoint_rate CPP_At31 CPP_At31_rate
0                       92.7    49900          41.6
1                      151.6     3540            66
2                      104.4     7800          48.8
3                      112.4     5670          48.6
4                       88.4     3870          38.1
...                      ...      ...           ...
1962                    73.7      162          36.2
1963                    40.7      115          15.9
1964                    29.2       69          16.5
1965                    85.7      157          35.7
1966                    62.8      183          29.2

[1967 rows x 25 columns], 'd6_cpps_reviewed_within_timescales':       time_period time_identifier geographic_level country_code country_name  \
0            2024  Reporting year         National    E92000001      England
1            2024  Reporting year         Regional    E92000001      England
2            2024  Reporting year         Regional    E92000001      England
3            2024  Reporting year         Regional    E92000001      England
4            2024  Reporting year         Regional    E92000001      England
...           ...             ...              ...          ...          ...
1962         2013  Reporting year  Local authority    E92000001      England
1963         2013  Reporting year  Local authority    E92000001      England
1964         2013  Reporting year  Local authority    E92000001      England
1965         2013  Reporting year  Local authority    E92000001      England
1966         2013  Reporting year  Local authority    E92000001      England

     region_code               region_name  old_la_code new_la_code  \
0            NaN                       NaN          NaN         NaN
1      E12000001                North East          NaN         NaN
2      E12000002                North West          NaN         NaN
3      E12000003  Yorkshire and The Humber          NaN         NaN
4      E12000004             East Midlands          NaN         NaN
...          ...                       ...          ...         ...
1962   E13000002              Outer London        315.0   E09000024
1963   E13000002              Outer London        317.0   E09000026
1964   E13000002              Outer London        318.0   E09000027
1965   E13000002              Outer London        319.0   E09000029
1966   E13000002              Outer London        320.0   E09000031

                   la_name                                           category  \
0                      NaN  Child Protection Plans reviewed within timescales
1                      NaN  Child Protection Plans reviewed within timescales
2                      NaN  Child Protection Plans reviewed within timescales
3                      NaN  Child Protection Plans reviewed within timescales
4                      NaN  Child Protection Plans reviewed within timescales
...                    ...                                                ...
1962                Merton  Child Protection Plans reviewed within timescales
1963             Redbridge  Child Protection Plans reviewed within timescales
1964  Richmond upon Thames  Child Protection Plans reviewed within timescales
1965                Sutton  Child Protection Plans reviewed within timescales
1966        Waltham Forest  Child Protection Plans reviewed within timescales

     CPP_At31_3Months Reviewed_within_timescales  \
0               35090                      31500
1                2330                       2170
2                5710                       5030
3                3930                       3490
4                2700                       2310
...               ...                        ...
1962              121                        114
1963               90                         87
1964               46                         46
1965              102                         96
1966              135                        133

     Reviewed_within_timescales_percent
0                                  89.8
1                                    93
2                                    88
3                                  88.8
4                                  85.7
...                                 ...
1962                               94.2
1963                               96.7
1964                                100
1965                               94.1
1966                               98.5

[1967 rows x 14 columns], 'a4_cin_by_ethnicity_and_age_gender':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
135         2018  Reporting year         National    E92000001      England
136         2018  Reporting year         National    E92000001      England
137         2018  Reporting year         National    E92000001      England
138         2018  Reporting year         National    E92000001      England
139         2018  Reporting year         National    E92000001      England

                         category                   characteristic  CIN_At31  \
0    Children in Need at 31 March                            Total    399460
1    Children in Need at 31 March                           Female    173480
2    Children in Need at 31 March                             Male    218230
3    Children in Need at 31 March  Unknown or Indeterminate gender       990
4    Children in Need at 31 March                           Unborn      6780
..                            ...                              ...       ...
135  Children in Need at 31 March           Male Aged Under 1 year     10440
136  Children in Need at 31 March           Male Aged 1 to 4 years     36940
137  Children in Need at 31 March           Male Aged 5 to 9 years     52990
138  Children in Need at 31 March         Male Aged 10 to 15 years     69010
139  Children in Need at 31 March      Male Aged 16 years and over     45080

      Known   White  Mixed  Asian_or_Asian_British  Black_or_Black_British  \
0    387570  265560  36660                   32090                   36050
1    169640  122890  16850                   12540                   13480
2    213710  139530  19400                   19310                   22290
3       820     590     70                      50                      70
4      3400    2550    330                     190                     210
..      ...     ...    ...                     ...                     ...
135    9290    7060    950                     470                     560
136   35060   26210   3340                    2300                    2480
137   51300   37770   4420                    3900                    4180
138   67360   49410   5370                    5250                    5870
139   44460   27660   2950                    4250                    5870

     Other_group
0          17220
1           3880
2          13180
3             40
4            120
..           ...
135          240
136          730
137         1030
138         1460
139         3740

[140 rows x 14 columns], 'd5_cpps_at31march_by_duration':       time_period time_identifier geographic_level country_code country_name  \
0            2024  Reporting year         National    E92000001      England
1            2024  Reporting year         Regional    E92000001      England
2            2024  Reporting year         Regional    E92000001      England
3            2024  Reporting year         Regional    E92000001      England
4            2024  Reporting year         Regional    E92000001      England
...           ...             ...              ...          ...          ...
1962         2013  Reporting year  Local authority    E92000001      England
1963         2013  Reporting year  Local authority    E92000001      England
1964         2013  Reporting year  Local authority    E92000001      England
1965         2013  Reporting year  Local authority    E92000001      England
1966         2013  Reporting year  Local authority    E92000001      England

     region_code               region_name  old_la_code new_la_code  \
0            NaN                       NaN          NaN         NaN
1      E12000001                North East          NaN         NaN
2      E12000002                North West          NaN         NaN
3      E12000003  Yorkshire and The Humber          NaN         NaN
4      E12000004             East Midlands          NaN         NaN
...          ...                       ...          ...         ...
1962   E13000002              Outer London        315.0   E09000024
1963   E13000002              Outer London        317.0   E09000026
1964   E13000002              Outer London        318.0   E09000027
1965   E13000002              Outer London        319.0   E09000029
1966   E13000002              Outer London        320.0   E09000031

                   la_name  ... 3_months_or_less 3_months_or_less_percent  \
0                      NaN  ...            14810                     29.7
1                      NaN  ...             1210                     34.1
2                      NaN  ...             2090                     26.8
3                      NaN  ...             1740                     30.7
4                      NaN  ...             1170                     30.2
...                    ...  ...              ...                      ...
1962                Merton  ...               41                     25.3
1963             Redbridge  ...               25                     21.7
1964  Richmond upon Thames  ...               23                     33.3
1965                Sutton  ...               55                       35
1966        Waltham Forest  ...               48                     26.2

     more_than_3_months_6_months more_than_3_months_6_months_percent  \
0                          12320                                24.7
1                            950                                26.9
2                           1970                                25.3
3                           1420                                25.1
4                            930                                24.1
...                          ...                                 ...
1962                          31                                19.1
1963                          39                                33.9
1964                          19                                27.5
1965                          32                                20.4
1966                          52                                28.4

     more_than_6_months_less_than_1_year  \
0                                  13510
1                                    910
2                                   2260
3                                   1490
4                                   1070
...                                  ...
1962                                  42
1963                                  33
1964                                  20
1965                                  39
1966                                  51

     more_than_6_months_less_than_1_year_percent 1_year_less_than_2_years  \
0                                           27.1                     7980
1                                           25.8                      420
2                                             29                     1290
3                                           26.4                      880
4                                           27.5                      630

In [8]:
dfs = {key:dfs[key] for key in sorted(dfs.keys())}

In [9]:
left_df = dfs['b1_children_in_need']
# left_df = dfs['b1_children_in_need_2013_to_2024']
merge_cols = list(left_df.columns[:10])

new_col_names = [f'b1_children_in_need_{col}' if (not col in merge_cols) else col for col in dfs['b1_children_in_need'].columns]

In [10]:
left_df = left_df.set_axis(new_col_names, axis=1)

for key, df in dfs.items():
    if (('headline_figures' not in key) &
        ('mid-year' not in key) &
        ('b1' not in key) &
        (key[0] != 'a')):
 
        df = df.set_axis([f'{key}_{col}' if (not col in merge_cols) else col for col in df.columns], axis=1)
        # df = df.set_axis([f'{key}_{col}' if (not col in merge_cols) else col for col in df.columns])

        left_df = left_df.merge(df, how='left', on=merge_cols)
left_df.to_csv('merged_cin.csv', index=False)
print(dfs)

{'a1_cin_assessments_episodes_referrals':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
175         2013  Reporting year         National    E92000001      England
176         2013  Reporting year         National    E92000001      England
177         2013  Reporting year         National    E92000001      England
178         2013  Reporting year         National    E92000001      England
179         2013  Reporting year         National    E92000001      England

             category                                      category_type  \
0    Children in Need          Episodes of need at any point in the year
1    Children in Need      Children in Need at any point during the year
2    Children in Need              Episodes of need starting in the year
3    Children in Need   Children starting an episode of need in the year
4    Children in Need                Episodes of need ending in the year
..                ...                                                ...
175         Referrals                       Referral - No Further Action
176         Referrals                 Referral - Assessed as not in Need
177         Referrals                      Children referred in the year
178         Referrals  Children re-referred within 12 months of a pre...
179       Assessments                  Assessments completed in the year

     number   rate percent
0    756150  630.2       z
1    702840  585.8       z
2    394660  328.9       z
3    367550  306.3       z
4    356690  297.3       z
..      ...    ...     ...
175   85830      z    14.5
176  112590      z      19
177  511500  448.5       z
178  116920      z    22.9
179       x      x       x

[180 rows x 10 columns], 'a2_section47_icpc_cpp':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
151         2013  Reporting year         National    E92000001      England
152         2013  Reporting year         National    E92000001      England
153         2013  Reporting year         National    E92000001      England
154         2013  Reporting year         National    E92000001      England
155         2013  Reporting year         National    E92000001      England

       category                                      category_type  number  \
0    Section 47                            Section 47s in the year  224520
1    Section 47       Children subject to a Section 47 in the year  191360
2          ICPC                                  ICPCs in the year   72250
3          ICPC            Children subject to an ICPC in the year   71140
4           CPP                                    CPP at 31 March   49900
..          ...                                                ...     ...
151         CPP  CPPs starting which were a second or subsequen...    7870
152         CPP                 Children starting CPPs in the year   52490
153         CPP                            CPPs ending in the year   52120
154         CPP      CPPs ending that had lasted two years or more    2690
155         CPP                   Children ending CPPs in the year   51790

      rate percent
0    187.1       z
1    159.5       z
2     60.2       z
3     59.3       z
4     41.6       z
..     ...     ...
151      z    14.9
152     46       z
153   45.7       z
154      z     5.2
155   45.4       z

[156 rows x 10 columns], 'a3_cin_primary_need_by_age_gender':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
135         2018  Reporting year         National    E92000001      England
136         2018  Reporting year         National    E92000001      England
137         2018  Reporting year         National    E92000001      England
138         2018  Reporting year         National    E92000001      England
139         2018  Reporting year         National    E92000001      England

                       category                   characteristic  CIN_At31  \
0    Primary need at assessment                            Total    399460
1    Primary need at assessment                           Female    173480
2    Primary need at assessment                             Male    218230
3    Primary need at assessment  Unknown or Indeterminate gender       990
4    Primary need at assessment                           Unborn      6780
..                          ...                              ...       ...
135  Primary need at assessment           Male Aged Under 1 year     10440
136  Primary need at assessment           Male Aged 1 to 4 years     36940
137  Primary need at assessment           Male Aged 5 to 9 years     52990
138  Primary need at assessment         Male Aged 10 to 15 years     69010
139  Primary need at assessment      Male Aged 16 years and over     45080

     N1_Abuse_or_neglect  N2_Childs_disability_or_illness  \
0                 231940                            32150
1                 109660                            10690
2                 116930                            21390
3                    550                               50
4                   4800                               20
..                   ...                              ...
135                 6630                               80
136                22910                             1340
137                29520                             5920
138                33460                            10560
139                14950                             5420

     N3_Parents_disability_or_illness  N4_Family_in_acute_stress  \
0                                8270                      34410
1                                3900                      15470
2                                4100                      18340
3                                  30                        130
4                                 240                        470
..                                ...                        ...
135                               450                        690
136                              1070                       2640
137                              1370                       4080
138                              1600                       6290
139                               800                       4460

     N5_Family_dysfunction  N6_Socially_unacceptable_behaviour N7_Low_income  \
0                    47900                                7870          1070
1                    22200                                2460           480
2                    24550                                5360           570
3                      150                                  10            10
4                     1000                                  30            10
..                     ...                                 ...           ...
135                   1580                                  70            30
136                   5920                                 380           160
137                   7930                                 680           190
138                  10180                                1870           160
139                   6230                                2060           190

     N8_Absent_parenting  N9_Cases_other_than_CIN  N0_Not_stated
0                  21930                     3510          10430
1                   2630                     1520           4460
2                  19270                     1960           5760
3                     10                       10             40
4                     20                       10            170
..                   ...                      ...            ...
135                   50                       60            790
136                  160                      270           2080
137                  240                      550           2510
138                 1140                      730           3030
139                 8570                      480           1920

[140 rows x 18 columns], 'a4_cin_by_ethnicity_and_age_gender':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
135         2018  Reporting year         National    E92000001      England
136         2018  Reporting year         National    E92000001      England
137         2018  Reporting year         National    E92000001      England
138         2018  Reporting year         National    E92000001      England
139         2018  Reporting year         National    E92000001      England

                         category                   characteristic  CIN_At31  \
0    Children in Need at 31 March                            Total    399460
1    Children in Need at 31 March                           Female    173480
2    Children in Need at 31 March                             Male    218230
3    Children in Need at 31 March  Unknown or Indeterminate gender       990
4    Children in Need at 31 March                           Unborn      6780
..                            ...                              ...       ...
135  Children in Need at 31 March           Male Aged Under 1 year     10440
136  Children in Need at 31 March           Male Aged 1 to 4 years     36940
137  Children in Need at 31 March           Male Aged 5 to 9 years     52990
138  Children in Need at 31 March         Male Aged 10 to 15 years     69010
139  Children in Need at 31 March      Male Aged 16 years and over     45080

      Known   White  Mixed  Asian_or_Asian_British  Black_or_Black_British  \
0    387570  265560  36660                   32090                   36050
1    169640  122890  16850                   12540                   13480
2    213710  139530  19400                   19310                   22290
3       820     590     70                      50                      70
4      3400    2550    330                     190                     210
..      ...     ...    ...                     ...                     ...
135    9290    7060    950                     470                     560
136   35060   26210   3340                    2300                    2480
137   51300   37770   4420                    3900                    4180
138   67360   49410   5370                    5250                    5870
139   44460   27660   2950                    4250                    5870

     Other_group
0          17220
1           3880
2          13180
3             40
4            120
..           ...
135          240
136          730
137         1030
138         1460
139         3740

[140 rows x 14 columns], 'a5_cpp_initial_category_of_abuse_by_gender_age_ethnicity':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
107         2018  Reporting year         National    E92000001      England
108         2018  Reporting year         National    E92000001      England
109         2018  Reporting year         National    E92000001      England
110         2018  Reporting year         National    E92000001      England
111         2018  Reporting year         National    E92000001      England

    characteristic              characteristic_type  CPP_At31  \
0           Gender                            Total     49900
1           Gender                           Female     23550
2           Gender                             Male     25010
3           Gender  Unknown or Indeterminate gender        70
4              Age                           Unborn      1270
..             ...                              ...       ...
107      Ethnicity                            White     39910
108      Ethnicity                            Mixed      4830
109      Ethnicity           Asian or Asian British      3410
110      Ethnicity           Black or Black British      2950
111      Ethnicity               Other ethnic group       790

     Neglect_Initial Physical_Abuse_Initial Sexual_Abuse_Initial  \
0              25350                   3430                 1760
1              11640                   1480                 1010
2              12810                   1860                  710
3                 30                     10                    c
4                870                     80                   40
..               ...                    ...                  ...
107            20100                   2570                 1700
108             2100                    410                  140
109              990                    450                  110
110             1210                    400                  120
111              320                    120                   30

     Emotional_Abuse_Initial Multiple_Initial
0                      18430              930
1                       8990              430
2                       9150              480
3                         30                0
4                        270               20
..                       ...              ...
107                    13430             2100
108                     1940              240
109                     1650              200
110                     1030              180
111                      290               30

[112 rows x 13 columns], 'a6_cpp_initial_category_of_abuse':     time_period time_identifier geographic_level country_code country_name  \
0          2024  Reporting year         National    E92000001      England
1          2023  Reporting year         National    E92000001      England
2          2022  Reporting year         National    E92000001      England
3          2021  Reporting year         National    E92000001      England
4          2020  Reporting year         National    E92000001      England
5          2019  Reporting year         National    E92000001      England
6          2018  Reporting year         National    E92000001      England
7          2017  Reporting year         National    E92000001      England
8          2016  Reporting year         National    E92000001      England
9          2015  Reporting year         National    E92000001      England
10         2014  Reporting year         National    E92000001      England
11         2013  Reporting year         National    E92000001      England

                     category  CPP_At31  Neglect_Initial  \
0   Initial category of abuse     49900            25350
1   Initial category of abuse     50780            25050
2   Initial category of abuse     50920            24430
3   Initial category of abuse     50010            24120
4   Initial category of abuse     51510            26010
5   Initial category of abuse     52260            25330
6   Initial category of abuse     53790            25820
7   Initial category of abuse     51080            24590
8   Initial category of abuse     50310            23150
9   Initial category of abuse     49690            22230
10  Initial category of abuse     48300            20970
11  Initial category of abuse     43190            17930

    Physical_abuse_Initial  Sexual_abuse_Initial  Emotional_abuse_Initial  \
0                     3430                  1760                    18430
1                     3630                  1890                    19000
2                     3780                  1930                    19480
3                     3650                  1930                    18840
4                     3820                  1970                    18380
5                     4170                  2230                    18460
6                     4120                  2180                    18860
7                     3950                  2260                    17280
8                     4200                  2370                    17770
9                     4350                  2340                    16660
10                    4760                  2210                    15860
11                    4670                  2030                    13640

    Multiple_Initial
0                930
1               1210
2               1280
3               1480
4               1330
5               2070
6               2820
7               3010
8               2810
9               4110
10              4500
11              4870  , 'a7_cin_by_age_gender_ethnicity':      time_period time_identifier geographic_level country_code country_name  \
0           2024  Reporting year         National    E92000001      England
1           2024  Reporting year         National    E92000001      England
2           2024  Reporting year         National    E92000001      England
3           2024  Reporting year         National    E92000001      England
4           2024  Reporting year         National    E92000001      England
..           ...             ...              ...          ...          ...
315         2015  Reporting year         National    E92000001      England
316         2015  Reporting year         National    E92000001      England
317         2015  Reporting year         National    E92000001      England
318         2015  Reporting year         National    E92000001      England
319         2015  Reporting year         National    E92000001      England

                         category characteristic  \
0    Children in Need at 31 March          Total
1    Children in Need at 31 March         Gender
2    Children in Need at 31 March         Gender
3    Children in Need at 31 March         Gender
4    Children in Need at 31 March         Unborn
..                            ...            ...
315  Children in Need at 31 March      Ethnicity
316  Children in Need at 31 March      Ethnicity
317  Children in Need at 31 March      Ethnicity
318  Children in Need at 31 March      Ethnicity

In [ ]:
# This cell isn't working properly

# Go back to previous session where we used Streamlit, it took a while to get that working but it was successful.

# in terminal run:   pip install streamlit
# Warning: to view this Streamlit app on a browser, run it with the following command:
#     streamlit run /home/codespace/.local/lib/python3.12/site-packages/ipykernel_launcher.py [ARGUMENTS]

import streamlit as st
import pandas as pd

st.title('Benchmarking data pipeline')

# We can use
files = st.file_uploader('Please upload benchmarking data', 
                         accept_multiple_files=True)

# Set up an empty dictionary to store our dataframes in

2024-11-22 10:29:54.362 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.366 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.367 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.368 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.369 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.369 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.370 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [12]:
dfs = {}

if files:
    for f in files:
        df = pd.read_csv(f)
 
        key_string = f.name.split("/")[-1][:-17]
 
        dfs[key_string] = df
 
    dfs = {key:dfs[key] for key in sorted(dfs.keys())}
 
    left_df = dfs['b1_children_in_need']
    merge_cols = list(left_df.columns[:10])
 
    new_col_names = [f'b1_children_in_need_{col}' if (not col in merge_cols) else col for col in dfs['b1_children_in_need'].columns]
    left_df = left_df.set_axis(new_col_names, axis=1)
 
    for key, df in dfs.items():
        if (('headline_figures' not in key) &
            ('mid-year' not in key) &
            ('b1' not in key) &
            (key[0] != 'a')):
            df = df.set_axis([f'{key}_{col}' if (not col in merge_cols) else col for col in df.columns], axis=1)
            left_df = left_df.merge(df, how='left', on=merge_cols)

In [13]:
def convert_df(df):
    return df.to_csv().encode("utf-8")
 
st.title('CIN benchmarking pipeline')
 
files = st.file_uploader(label='Please upload CIN data',
                 accept_multiple_files=True)
 
dfs = {}
 
if files:
    for f in files:
        df = pd.read_csv(f)
 
        key_string = f.name.split("/")[-1][:-17]
 
        dfs[key_string] = df
 
    dfs = {key:dfs[key] for key in sorted(dfs.keys())}
 
    left_df = dfs['b1_children_in_need']
    merge_cols = list(left_df.columns[:10])
 
    new_col_names = [f'b1_children_in_need_{col}' if (not col in merge_cols) else col for col in dfs['b1_children_in_need'].columns]
    left_df = left_df.set_axis(new_col_names, axis=1)
 
    for key, df in dfs.items():
        if (('headline_figures' not in key) &
            ('mid-year' not in key) &
            ('b1' not in key) &
            (key[0] != 'a')):
 
            df = df.set_axis([f'{key}_{col}' if (not col in merge_cols) else col for col in df.columns], axis=1)
           
            left_df = left_df.merge(df, how='left', on=merge_cols)
 
    wide_csv = convert_df(left_df)
 
    st.download_button(label='Click to download wide merged data',
                       data=wide_csv,
                       file_name='wide_benchamrking.csv',
                       mime="text/csv")

2024-11-22 10:29:54.437 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.439 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.440 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.440 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.441 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.442 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-11-22 10:29:54.442 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.