In [1]:
# Assignment 1, Part 1

# Using an appropriate name, initialise an empty dictionary which you will store the outcome of some sums in.
# Then, setting 7 as x and 5 as y, find:
# x + y
# x - y
# x squared
# y squared
# x to the power y
# Assigning each to a variable with an appropriate name.
# Finally, add each of these answers as entries in your dicitonary and print the dictionary.

In [2]:
Ass1a = {}
x = 7
y = 5
plus = x + y
minus = x - y
x_sq = x**2
y_sq = y**2
xTPy = x**y
Ass1a['plus'] = [plus]
Ass1a['minus'] = [minus]
Ass1a['x_sq'] = [x_sq]
Ass1a['y_sq'] = [y_sq]
Ass1a['xTPy'] = [xTPy]
print(Ass1a)

{'plus': [12], 'minus': [2], 'x_sq': [49], 'y_sq': [25], 'xTPy': [16807]}

In [3]:
# Assignment 1, Part 2

# Assume a credit card number is '4444444444444444', store this as a string with an appropriate name.
# Slice the string to only show the last four digits with an appropriate name.
# Manipulate the sliced variable so that it appears with an appropriate number of Xs before the last 4 digits
# Giving this new string an appropriate name, print it.
# Your print readout should look like 'XXXXXXXXXXXX4444'
# At no point should you make a string from scratch that is just 'XXXXXXXXXXXX4444',
# that defeats the point of the exercise.

card_no = str(4444444444444444)
last4 = card_no[-4:]
dave = f'XXXX-XXXX-XXXX-{last4}'
print(dave)

XXXX-XXXX-XXXX-4444

In [4]:
# Assignment 2, Part 1

# This assignment focuses on dataframes
# First off, using a method of your choice, make a dataframe with the columns:
# EmployeeID, Age, Salary, Job Title
# Fill this out with arbitrary but sensible inputs for 5 rows.
# Ensure age and salary are stored as the right type of data for numbers, and that there's a good range of salaries

import pandas as pd
# first, I will create a dictionary
staff = {'EmployeeID':['A0345','A0359','A0421','A0424','A0431'],
           'Age':[54, 21, 32, 28, 44],
           'Salary':[48600, 19200, 27500, 31900,68700],
           'Job Title':['manager','driver', 'negotiator','accountant','director']}
# then turn the dictionary into a dataframe
df_staff = pd.DataFrame(staff)
print(df_staff)
print('')
# correct the data type for variables as appropriate e.g. object to string, integer to float
df_staff['EmployeeID'] = df_staff['EmployeeID'].astype('string')
df_staff['Salary'] = df_staff['Salary'].astype('float64')
df_staff['Job Title'] = df_staff['Job Title'].astype('string')
print(df_staff.info())

  EmployeeID  Age  Salary   Job Title
0      A0345   54   48600     manager
1      A0359   21   19200      driver
2      A0421   32   27500  negotiator
3      A0424   28   31900  accountant
4      A0431   44   68700    director

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EmployeeID  5 non-null      string
 1   Age         5 non-null      int64
 2   Salary      5 non-null      float64
 3   Job Title   5 non-null      string
dtypes: float64(1), int64(1), string(2)
memory usage: 288.0 bytes
None

In [5]:
# Assignment 2, Part 2a

# Use pandas methods to find...
# the maximum and minimum salaries and ages
# Find the sum of all the salaries using pandas methods
# Find the mean age

In [6]:
# these are non-panda methods...
import statistics
min_Sal = min(df_staff['Salary'])
max_Sal = max(df_staff['Salary'])
sum_Sal = sum(df_staff['Salary'])
mean_Sal = statistics.mean(df_staff['Salary'])
print(min_Sal)
print(max_Sal)
print(sum_Sal)
print(mean_Sal)

19200.0
68700.0
195900.0
39180.0

In [7]:
# these are panda methods...
# https://www.tutorialspoint.com/python-pandas-find-the-maximum-value-of-a-column-and-return-its-corresponding-row-values
import pandas as pd
# Using 2 different solution options.
# This 1st option creates a 1-row DF for the row we want to select  i.e. maxy is a DataFrame.
maxy = df_staff.loc[df_staff['Salary'].idxmax()]
# N.B. you need to use 2 different types of inverted commas in the codeline below
print(f'Maximum salary is {maxy["Salary"]}')
print(maxy)
# This 2nd option creates a DF index for the row we want to select i.e. maxy2 is a DataFrame index.
maxy2 = df_staff['Salary'].idxmax()
print(f'Maximum salary is on row {maxy2} and value is {df_staff.loc[maxy2, "Salary"]}')

Maximum salary is 68700.0
EmployeeID       A0431
Age                 44
Salary         68700.0
Job Title     director
Name: 4, dtype: object
Maximum salary is on row 4 and value is 68700.0

In [8]:
import pandas as pd
# we will continue to find the maximum and minimum salaries and ages using the 2nd option (creating a DF index)
maxy2 = df_staff['Salary'].idxmax()
print(f'Maximum salary is on row {maxy2} and value is {df_staff.loc[maxy2, "Salary"]}')
miny2 = df_staff['Salary'].idxmin()
print(f'Minimum salary is on row {miny2} and value is {df_staff.loc[miny2, "Salary"]}')
maxy3 = df_staff['Age'].idxmax()
print(f'Maximum age is on row {maxy3} and value is {df_staff.loc[maxy3, "Age"]}')
miny3 = df_staff['Age'].idxmin()
print(f'Minimum age is on row {miny3} and value is {df_staff.loc[miny3, "Age"]}')

Maximum salary is on row 4 and value is 68700.0
Minimum salary is on row 1 and value is 19200.0
Maximum age is on row 0 and value is 54
Minimum age is on row 1 and value is 21

In [9]:
# Find the sum of all the salaries using pandas methods
# Find the mean age
# import pandas as pd
sum_salary1 = sum(df_staff["Salary"])
print(sum_salary1)
sum_salary2 = df_staff['Salary'].sum()
print(sum_salary2)
# various methods for doing this, I'm not sure that they are all panda methods....
# https://stackoverflow.com/questions/41286569/get-total-of-pandas-column
# if you want to sum DF rows rather than columns....
# https://www.w3schools.com/python/pandas/ref_df_sum.asp
mean_age = df_staff['Age'].mean()
print(mean_age)

195900.0
195900.0
35.8

In [10]:
# Assignment 2, Part 2b
# A little more tricky: find the longest name and print it, and its length
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
# To a different appropriately named variable, slice the dataframe to have only those above the
# median age who also have a letter (of your choice) at least once in their name.
df_staff['job_len'] = df_staff['Job Title'].str.len()
print(df_staff)
# find the longest name, print it, and its length
maxy4 = df_staff['job_len'].idxmax()
print(f'Maximum job length is "{df_staff.loc[maxy4, "Job Title"]}" on row {maxy4}, and the value is {df_staff.loc[maxy4, "job_len"]}')
# take a slice (i.e. complete rows) of the dataframe for those rows where job length is the maximum value
maxy5 = max(df_staff['job_len'])
maxy6 = df_staff.loc[df_staff['job_len'] == maxy5]
print(maxy6)
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
import statistics
medy = (df_staff['Salary'].median())
medy1 = df_staff.loc[df_staff['Salary'] > medy]
print(f'Median salary is {medy}')
print(medy1)

  EmployeeID  Age   Salary   Job Title  job_len
0      A0345   54  48600.0     manager        7
1      A0359   21  19200.0      driver        6
2      A0421   32  27500.0  negotiator       10
3      A0424   28  31900.0  accountant       10
4      A0431   44  68700.0    director        8
Maximum job length is "negotiator" on row 2, and the value is 10
  EmployeeID  Age   Salary   Job Title  job_len
2      A0421   32  27500.0  negotiator       10
3      A0424   28  31900.0  accountant       10
Median salary is 31900.0
  EmployeeID  Age   Salary Job Title  job_len
0      A0345   54  48600.0   manager        7
4      A0431   44  68700.0  director        8

In [11]:
# Assign to an appropriately named variable a slice of the dataframe where all the salaries are above the median
# and who also have a letter (of your choice) at least once in their Job Title.
import statistics
medy = (df_staff['Salary'].median())
medy1 = df_staff.loc[df_staff['Salary'] > medy]
medy2 = medy1[medy1['Job Title'].str.contains('o', regex=False)]
print(medy2)

  EmployeeID  Age   Salary Job Title  job_len
4      A0431   44  68700.0  director        8

In [12]:
# Assignment 3, Part 1a

# There are two CSVs in the data folder with fake CIN census data. One is the Child Characteristics file, one is Child Identifiers.
# Using the example below for help, assign child identifiers to a suitably named variable. 
# The filepath you need is: '/workspaces/D2I-Jupyter-Notebook-Tools/ERN-worksheets/data/ChildIdentifiers.csv'
# Use the .info() method to find out about the tables
# Merge child idenfitiers with child characteristics on a suitable column shared between both tables.

In [13]:
# Assignment 3

import pandas as pd
filename_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
filename_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filepaths = [filename_1,filename_2]
for filepath in filepaths:
     print(filepath)

dfs = {}

for i, v in enumerate(filepaths):
    dfs[i] = pd.read_csv(filepaths[i])
print(dfs[0].info())
dfs[0]

https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv
https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  332 non-null    int64
 1   LAchildID   332 non-null    object
 2   Ethnicity   332 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.9+ KB
None

     Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]

In [14]:
print(dfs[1].info())
dfs[1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB
None

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [15]:
import pandas as pd
df = pd.merge(dfs[0], dfs[1], on='LAchildID', how="outer")
print(df.head(5))

   Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
0             0  RND000215205141      WIRT             0  A850728973744
1             1  RND000824303014      WROM             1  A141396438491
2             2  RND000750143123      AOTH             2  A929946861554
3             3  RND000909164501      MWBC             3  A612330267292
4             4  RND000382171815      APKN             4  A604459366806

   FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
0        NaN         NaN      2019-12-06                     NaN
1        NaN         NaN      2011-04-27                     NaN
2        NaN         NaN      2017-06-06              2019-12-06
3        NaN         NaN      2014-10-03                     NaN
4        NaN         NaN      2019-09-25                     NaN

   GenderCurrent PersonDeathDate
0              1             NaN
1              9             NaN
2              1             NaN
3              0             NaN
4              2             NaN

In [16]:
# Assignment 3, Part 1b

# Convert all columns with dates [from string] to datetime
# The allowed gender codes for this table are 0, 1, 2, and 9, slice out a dataframe (suitably named) with only rows where this rule is violated
# Can you find any rows where someone's death date is before their birth date?
# Can you find any rows where someone has an expected birth date and an actual birth date, which should not happen?
# Can you find the average age of all children who refused to have their ethnicity taken down and for whom the information is not yet obtained 
# (knowing Ethnicity codes are REFU and NOBT)

In [17]:
# Convert all columns with dates [from string] to datetime
import pandas as pd
df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format="%Y-%m-%d", errors='coerce')
# for information, df['PersonBirthDate'] = pd.to_datetime(df['PersonBirthDate'], format="%d-%m-%Y", errors='coerce') DOES NOT WORK
df['ExpectedPersonBirthDate'] = pd.to_datetime(df['ExpectedPersonBirthDate'], format="%Y-%m-%d", errors='coerce')
df['PersonDeathDate'] = pd.to_datetime(df['PersonDeathDate'], format="%Y-%m-%d", errors='coerce')
print(df.head(5))

   Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
0             0  RND000215205141      WIRT             0  A850728973744
1             1  RND000824303014      WROM             1  A141396438491
2             2  RND000750143123      AOTH             2  A929946861554
3             3  RND000909164501      MWBC             3  A612330267292
4             4  RND000382171815      APKN             4  A604459366806

   FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
0        NaN         NaN      2019-12-06                     NaT
1        NaN         NaN      2011-04-27                     NaT
2        NaN         NaN      2017-06-06              2019-12-06
3        NaN         NaN      2014-10-03                     NaT
4        NaN         NaN      2019-09-25                     NaT

   GenderCurrent PersonDeathDate
0              1             NaT
1              9             NaT
2              1             NaT
3              0             NaT
4              2             NaT

In [18]:
# The allowed gender codes for this table are 0, 1, 2, and 9, slice out a dataframe (suitably named) with only rows where this rule is violated
# this isn't right yet, I am struggling with 'not in list of integers'
import pandas as pd
import datetime
gen_rej = df[df['GenderCurrent'] != 0]
print(gen_rej.head(5))

   Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
0             0  RND000215205141      WIRT             0  A850728973744
1             1  RND000824303014      WROM             1  A141396438491
2             2  RND000750143123      AOTH             2  A929946861554
4             4  RND000382171815      APKN             4  A604459366806
6             6  RND000852873211      WIRT             6  A605952359626

   FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
0        NaN         NaN      2019-12-06                     NaT
1        NaN         NaN      2011-04-27                     NaT
2        NaN         NaN      2017-06-06              2019-12-06
4        NaN         NaN      2019-09-25                     NaT
6        NaN         NaN      2013-01-19                     NaT

   GenderCurrent PersonDeathDate
0              1             NaT
1              9             NaT
2              1             NaT
4              2             NaT
6              2             NaT

In [19]:
# Can you find any rows where someone's death date is before their birth date?
import pandas as pd
import datetime

df['death'] = df['PersonDeathDate'] - df['PersonBirthDate']
# df['death'] = df['death'] / pd.Timedelta('365 days')
# next line rounds, converts to integers, ignores the error produced by the empty value for 'PersonDeathDate'.
# df['death'] = df['death'].round().astype('int', errors = 'ignore')
# death_rej = df[df['death'] != None]
print(df.head(5))

   Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
0             0  RND000215205141      WIRT             0  A850728973744
1             1  RND000824303014      WROM             1  A141396438491
2             2  RND000750143123      AOTH             2  A929946861554
3             3  RND000909164501      MWBC             3  A612330267292
4             4  RND000382171815      APKN             4  A604459366806

   FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
0        NaN         NaN      2019-12-06                     NaT
1        NaN         NaN      2011-04-27                     NaT
2        NaN         NaN      2017-06-06              2019-12-06
3        NaN         NaN      2014-10-03                     NaT
4        NaN         NaN      2019-09-25                     NaT

   GenderCurrent PersonDeathDate death
0              1             NaT   NaT
1              9             NaT   NaT
2              1             NaT   NaT
3              0             NaT   NaT
4              2             NaT   NaT

In [72]:
# Assignment 4, Part 1

# Remember the exercise from assignment 1 where you had to write code to change a credit card number to display
# only the 4 last numbers, and the beginning as all Xs?
# Write a function that takes in any 16 digit number and prints the first 12 characters as Xs and the
# last 4 as the original numbers.

# card_no2 = str(444455566667777)
card_no2 = str(input("Enter your value: "))
if any(not char.isdigit() for char in card_no2):
    print("Please input digits only.")
    exit
else:
    four_a = card_no2[0:4]
    four_b = card_no2[4:8]
    four_c = card_no2[8:12]
    donald = f'{four_a}-{four_b}-{four_c}-XXXX'
    print(card_no2)
    print(donald)

Please input digits only.

In [83]:
# Assignment 4, Part 2

# Now, improve and extend the function to check whether the user has input 16 numbers,
# if they have put in a different amount of numbers, have it throw an error.
# Improve your function again so it can accept a string or an integer (if it can't already) ???

# card_no2 = str(444455566667777)
card_no2 = str(input("Enter your value: "))
if any(not char.isdigit() for char in card_no2):
    print("Please input digits only.")
    exit
if len(card_no2) !=16:
    print("Please input exactly 16 digits.")
    exit
else:
    four_a = card_no2[0:4]
    four_b = card_no2[4:8]
    four_c = card_no2[8:12]
    donald = f'{four_a}-{four_b}-{four_c}-XXXX'
    phrase1 = f'You entered:  "{card_no2}"'
    phrase2 = f'Your bank card is:   {donald}'
    print (phrase1)
    print (phrase2)

You entered:  "0000111122223333"
Your bank card is:   0000-1111-2222-XXXX

In [127]:
# Assignment 4, Part 3

# Write a function that takes two strings as arguments, checks if the two strings are anagrams,
# and prints an answer of the form:    A is an anagram of B     or    A is not an anagram of B
# Deal with upper/lower case issue e.g. 'God' is an anagram of 'dog'
# Instead of using for loops, can we try using a panda method to loop?

NegResp = 'Your second word is NOT an anagram of your first word.'
PosResp = 'Your second word IS an anagram of your first word.'
word1 = str(input('Input your first word here:'))
word2 = str(input('Input your second word here:'))
Len1 = len(word1)
Len2 = len(word2)
print(f'Your first word is:   {word1}')
print(f'Your second word is:  {word2}')
word1 = word1.lower()
word2 = word2.lower()
numbers1 = list(range(0,Len1))
numbers2 = list(range(0,Len2))
letters1 = []
letters2 = []
for x in numbers1:
    letters1.append(word1[x])
letters1 = sorted(letters1)
for y in numbers2:
    letters2.append(word2[y])
letters2 = sorted(letters2)
if letters1 == letters2:
    print(PosResp)
else:
    print(NegResp)

Your first word is:   trap
Your second word is:  PART
Your second word IS an anagram of your first word.

In [139]:
# Assignment 5, Part 1

# Write a function that generates the fibonacci sequence up to a set number of terms.
# 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ....
# each term is the sum of the 2 preceeding terms

numbers = list(range(3,103))
seq = [0,1]
for i in numbers:
    next = seq[i-2] + seq[i-3]
    seq.append(next)
print(seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [2]:
# Assignment 5, Part 2

# Extend the fibonacci function previously given to take two starting numbers and, using them, generate a
# fibonacci-like sequence up to a set number of terms.

a = int(input('Enter your first starting number, it must be an integer:'))
b = int(input('Enter your second starting number, it must be an integer:'))
numbers = list(range(3,53))
seq = [a,b]
for i in numbers:
    next = seq[i-2] + seq[i-3]
    seq.append(next)
print(seq)

[4, 5, 9, 14, 23, 37, 60, 97, 157, 254, 411, 665, 1076, 1741, 2817, 4558, 7375, 11933, 19308, 31241, 50549, 81790, 132339, 214129, 346468, 560597, 907065, 1467662, 2374727, 3842389, 6217116, 10059505, 16276621, 26336126, 42612747, 68948873, 111561620, 180510493, 292072113, 472582606, 764654719, 1237237325, 2001892044, 3239129369, 5241021413, 8480150782, 13721172195, 22201322977, 35922495172, 58123818149, 94046313321, 152170131470, 246216444791, 398386576261, 644603021052, 1042989597313, 1687592618365, 2730582215678, 4418174834043, 7148757049721, 11566931883764, 18715688933485, 30282620817249, 48998309750734, 79280930567983, 128279240318717, 207560170886700, 335839411205417, 543399582092117, 879238993297534, 1422638575389651, 2301877568687185, 3724516144076836, 6026393712764021, 9750909856840857, 15777303569604878, 25528213426445735, 41305516996050613, 66833730422496348, 108139247418546961, 174972977841043309, 283112225259590270, 458085203100633579, 741197428360223849, 1199282631460857428, 1940480059821081277, 3139762691281938705, 5080242751103019982, 8220005442384958687, 13300248193487978669, 21520253635872937356, 34820501829360916025, 56340755465233853381, 91161257294594769406, 147502012759828622787, 238663270054423392193, 386165282814252014980, 624828552868675407173, 1010993835682927422153, 1635822388551602829326, 2646816224234530251479, 4282638612786133080805]

In [25]:
# Assignment 5, Part 3

# Write a function named capital_indexes. The function takes a single parameter, which is a string.
# Your function should return a list of all the indexes in the string that have capital letters.
# For example, calling capital_indexes("HeLlO") should return the list [0, 2, 4].

In [26]:
# Assignment 6, Part 1

# Write a function that accepts a list of numbers as the argument
# have it check that the list only contains numbers, if it doesn't have it return an error
# Have the function randomize the order of the list and check whether the new, random order of the list has sorted the list into ascending order 
# Have it keep repeating the previous line until it has randomly sorted the list into order
# Finally, print the new, sorted list and check it's worked.
# To check if a list is sorted, you would really have to write another fucntion inside your function that checks that each element in the list is smaller than the previous one
# However, as this is a beginner exercise, I'll let you check if <randomly sorted list> == sorted(<input list>)

# This is a real (but silly) sorting method called either BOGOSORT or stupid-sort, but try not to look up how it's done, just give it a go

In [27]:
# Assignment 6, Part 2

# The extension exercise for this is to write your own function to check if the randomly sorted list is sorted,
# rather than comparing it to the already sorted list.