In [1]:
# a lot of the work in the 5th session is found in module_3

In [2]:
# this cell is similar to work in module_1
number = [1,2,3]
letter = ['a','b','c']
animal = ['cat','dog','rat']
zippo = zip(number, letter, animal)
# print(list(zippo))

for num, let, an in zippo:
    print(f'the number is: {num},  the letter is: {let}')

the number is: 1,  the letter is: a
the number is: 2,  the letter is: b
the number is: 3,  the letter is: c

In [3]:
import pandas as pd
df = pd.DataFrame({'Numbers':number,
                   'Letters':letter,
                   'Animals':animal})
even_or_odd = lambda row: 'even' if row % 2 == 0 else 'odd'
df['Even or Odd'] = df['Numbers'].apply(even_or_odd)
print(df)
df

   Numbers Letters Animals Even or Odd
0        1       a     cat         odd
1        2       b     dog        even
2        3       c     rat         odd

   Numbers Letters Animals Even or Odd
0        1       a     cat         odd
1        2       b     dog        even
2        3       c     rat         odd

In [4]:
import pandas as pd
df = pd.DataFrame({'Numbers':number,
                   'Letters':letter,
                   'Animals':animal})
for row in df.index:
    print(row)

0
1
2