In [ ]:
# https://github.com/data-to-insight/ERN-sessions/blob/main/SQL%20in%20python/chinook.db
# https://github.com/data-to-insight/ERN-sessions/blob/main/SQL%20in%20python/gravity.db

# in Terminal do these installs
# pip install sqlalchemy

import pandas as pd

In [ ]:
from sqlalchemy import (create_engine,inspect,text,select,MetaData,Table,and_,or_,desc,asc,func,)

In [ ]:
# dialect+driver://username:password@host:port/database
 
# postresql+psycopg2://will:willspassword@local_authirty.aws:8000/annexA
 
# sqlite+pysqlite://///workspaces/ERN-sessions/SQL Learning/chinook.db

In [ ]:
chinook_engine = create_engine('sqlite+pysqlite://///workspaces/ERN-sessions/SQL Learning/chinook.db')

In [ ]:
with chinook_engine.connect() as con:
    inspection = inspect(chinook_engine)
    print(inspection.get_table_names())

In [ ]:
# gravity_inspection (Ben McAdam)

In [ ]:
chinook_metadata = MetaData()
 
print(chinook_metadata)
 
tracks = Table('tracks', chinook_metadata, autoload_with=chinook_engine)
 
# tracks.c.keys()
 
repr(tracks)

In [ ]:
gravity_metadata = MetaData()
books = Table('book', gravity_metadata, autoload_with=gravity_engine)
books.c.keys()

In [ ]:
with chinook_engine.connect() as con:
    stmt = "SELECT * FROM tracks" # statement
    result_proxy = con.execute(text(stmt))# results proxy
    result = result_proxy.fetchmany(size=20) # fetch results
 
all_tracks = pd.DataFrame(result)
 
all_tracks

In [ ]:
with gravity_engine.connect() as con:
    stmt = "SELECT * FROM book"
    result_proxy = con.execute(text(stmt))
    result = result_proxy.fetchmany(size=20)
 
books_df = pd.DataFrame(result)
 
books_df

In [ ]:
with chinook_engine.connect() as con:
    stmt = select(tracks)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)
 
books_df  = pd.DataFrame(result)
books_df

In [ ]:
with gravity_engine.connect() as con:
    stmt = select(books)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)
 
books_df = pd.DataFrame(result)
books_df

In [ ]:
with chinook_engine.connect() as con:
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1,  
                                    tracks.columns.AlbumId == 2))
    print(stmt)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()
 
album_id_1 = pd.DataFrame(result)
album_id_1

In [ ]:
# 'Working Effectively with Legacy Code' and "Working Effectively with Legacy Code"
 
with gravity_engine.connect() as con:
    stmt = select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
                                   books.columns.title == 'The Basic Works of Aristotle'))
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()
 
two_books = pd.DataFrame(result)
two_books
 
# result = gravity_engine.connect().execute(select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
#                                    books.columns.title == 'The Basic Works of Aristotle'))).fetchall()
 
# two_books = pd.DataFrame(result)
# two_books

In [ ]:
with chinook_engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer.desc(), tracks.columns.Name.desc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=20)
 
composers = pd.DataFrame(result)
composers

In [ ]:
with gravity_engine.connect() as con:
    stmt = select(books).order_by(books.columns.num_pages.desc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=10)
 
long_books = pd.DataFrame(result)
long_books

In [ ]:
with chinook_engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds))
    result = con.execute(stmt).scalar()
result

In [ ]:
# find the total number of pages for the ten longest books publishe din a given year?
 
with gravity_engine.connect() as con:
    stmt = select(func.sum(books.columns.num_pages))
    result = con.execute(stmt).scalar()
result