In [1]:
# this cell shows how Python can be used ia useful context

import pandas as pd

filename_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
filename_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'

filepaths = [filename_1,filename_2]
for filepath in filepaths:
     print(filepath)

https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv
https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv

In [2]:
dfs = {}

for i, v in enumerate(filepaths):
    dfs[i] = pd.read_csv(filepaths[i])

# print(dfs[1])
df = pd.merge(dfs[0], dfs[1], on='LAchildID', how="outer")
print(df)

     Unnamed: 0_x        LAchildID Ethnicity  Unnamed: 0_y            UPN  \
0               0  RND000215205141      WIRT             0  A850728973744
1               1  RND000824303014      WROM             1  A141396438491
2               2  RND000750143123      AOTH             2  A929946861554
3               3  RND000909164501      MWBC             3  A612330267292
4               4  RND000382171815      APKN             4  A604459366806
..            ...              ...       ...           ...            ...
327           327  RND000112711501      WOTH           327  A465246916125
328           328  RND000513120794      WROM           328  A540014111973
329           329  RND000541643134      BCRB           329  A549582689058
330           330  RND000404939452      AIND           330  A889492349196
331           331  RND000589802835      WBRI           331  A877624860226

     FormerUPN  UPNunknown PersonBirthDate ExpectedPersonBirthDate  \
0          NaN         NaN      2019-12-06                     NaN
1          NaN         NaN      2011-04-27                     NaN
2          NaN         NaN      2017-06-06              2019-12-06
3          NaN         NaN      2014-10-03                     NaN
4          NaN         NaN      2019-09-25                     NaN
..         ...         ...             ...                     ...
327        NaN         NaN      2010-07-07                     NaN
328        NaN         NaN      2018-08-14                     NaN
329        NaN         NaN      2021-12-09                     NaN
330        NaN         NaN      2013-07-23                     NaN
331        NaN         NaN      2021-10-25                     NaN

     GenderCurrent PersonDeathDate
0                1             NaN
1                9             NaN
2                1             NaN
3                0             NaN
4                2             NaN
..             ...             ...
327              2             NaN
328              2             NaN
329             51             NaN
330              2             NaN
331              9             NaN

[332 rows x 11 columns]

In [3]:
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'Age':[5,12,11,6,2],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
df['Birthday'] = pd.to_datetime(df['Birthday'], dayfirst=True)
df

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No
4     id5                 19      F 2012-01-06    2      yES

In [4]:
# Revision
# ==  equal to
# !=  not equal to
# ~   NOT
# &   AND
# |   OR
# > greater than
# < less than
# >= greater than or equal to
# <= less than or equal to
# % is a modulo operator, it gives the remainder when i is divided by e.g. 2 in this example

In [5]:
# make slices in our dataframe based on some conditions (like SELECT/WHERE in SQL)
condition1 = df['Age'] >= 10
# print(condition1)

over_10 = df[condition1]
print(over_10)
print(over_10)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N

In [6]:
# practice exercise
condition2 = df['Age first contact'] <= 9
under_10 = df[condition2]
print(under_10)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
3     id4                  1        2023-03-03    6       No

In [7]:
# demonstrating simple DF slicing, firstly without using the NOT operator (~)
error_rows1 = df[df['Age first contact'] > df['Age']]
print(error_rows1)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES

In [8]:
# look at how the NOT operator is used here (~)
error_rows2 = df[~(df['Age first contact'] > df['Age'])]
print(error_rows2)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No

In [9]:
print((1 > 2))
print((2 == 2))
print((1 > 2) & (2 == 2))
print((1 > 2) | (2 == 2))
print((3 > 2) & (2 == 2))
print((3 > 2) | (2 == 2))
print((1 > 2) | ((2 == 2) & (1 >2)))

False
True
False
True
True
True
False

In [10]:
isna_condition = (df['Birthday'].isna()) & (df['Age'] > 9)
print(df[isna_condition])

notna_condition = (df['Birthday'].notna()) & (df['Age'] > 9)
print(df[notna_condition])

str_condition = df['CP Plan?'].str.lower().str.contains('y')
print(df[str_condition])

check_list = [12, 11]
condition_11_12 = df['Age'].isin(check_list)
print(df[condition_11_12])

  ChildId  Age first contact Gender Birthday  Age CP Plan?
2     id3                 11      F      NaT   11        N
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
4     id5                 19      F 2012-01-06    2      yES
  ChildId  Age first contact Gender   Birthday  Age CP Plan?
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N

In [11]:
condition3 = df['CP Plan?'].str.lower().str.contains('n') | (df['Gender'].str.lower() == 'm')
print(df[condition3])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
0     id1                  6      M 2002-01-01    5        Y
1     id2                 12      m 2003-02-02   12        n
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No

In [12]:
# slice the dataframe where the age is 6 or 11, using a single .isin()
condition4a = df['Age'].isin([6,11])
print(df[condition4a])

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No

In [13]:
# slice the dataframe where the age is 6 or 11, using two ==s phrases in one bracket
condition4b = ((df['Age'] == 6) | (df['Age'] == 11))
six_eleven = df[condition4b]
print(six_eleven)

  ChildId  Age first contact Gender   Birthday  Age CP Plan?
2     id3                 11      F        NaT   11        N
3     id4                  1        2023-03-03    6       No

In [14]:
# slice the dataframe where the age is 6 or 9 and the CP Plan? is 'Y'
condition5 = df['Age'].isin([6,9]) & (df['CP Plan?'] == 'Y')
print(df[condition5])

Empty DataFrame
Columns: [ChildId, Age first contact, Gender, Birthday, Age, CP Plan?]
Index: []

In [15]:
numbers = list(range(1,11))

# % is a modulo operator, it gives the remainder when i is divided by e.g. 2 in this example
for i in numbers:
    if i % 2 == 0:
        print('The number is even')
    elif i == 9:
        print('The number is nine')
    else:
        print('The number is odd, but not 9')

The number is odd, but not 9
The number is even
The number is odd, but not 9
The number is even
The number is odd, but not 9
The number is even
The number is odd, but not 9
The number is even
The number is nine
The number is even

In [16]:
numbers = list(range(1, 11))

# !=  means Not Equal To

for i in numbers:
   if i < 6:
       if i % 2 == 0:
           print('The number is even.')
       if i == 2:
           print(f'{i}')
       elif i % 2 != 0:
           print('The number is odd')
   else: 
       print('it was greater than 6')

The number is odd
The number is even.
2
The number is odd
The number is even.
The number is odd
it was greater than 6
it was greater than 6
it was greater than 6
it was greater than 6
it was greater than 6

In [17]:
# fizzbang
# take all the numbers form 1-100,
# print them, BUT if the number is divisible by 3, print fizz,
# if it's divisible by 5 print bang
# BUT if it's divisible by 3 & 5 print fizzbang

onehundred = list(range(1, 101))

for i in onehundred:
    if (i % 3 == 0) & (i % 5 == 0):
        print('fizzbang')
    elif i % 3 == 0:
        print('fizz')
    elif i % 5 == 0:
        print('bang')
    else:
        print(i)

1
2
fizz
4
bang
fizz
7
8
fizz
bang
11
fizz
13
14
fizzbang
16
17
fizz
19
bang
fizz
22
23
fizz
bang
26
fizz
28
29
fizzbang
31
32
fizz
34
bang
fizz
37
38
fizz
bang
41
fizz
43
44
fizzbang
46
47
fizz
49
bang
fizz
52
53
fizz
bang
56
fizz
58
59
fizzbang
61
62
fizz
64
bang
fizz
67
68
fizz
bang
71
fizz
73
74
fizzbang
76
77
fizz
79
bang
fizz
82
83
fizz
bang
86
fizz
88
89
fizzbang
91
92
fizz
94
bang
fizz
97
98
fizz
bang