In [9]:
x = 5
print(x)
x += 5
print(x)

5
10

In [10]:
x = 5
print(x)

5

In [12]:
x = x + 1
print(x)

7

In [ ]:
x = 5
y = 10

In [13]:
num_1 = 1
num_2 = 10
sum_1_2 = num_1 + num_2
print(sum_1_2)

11

In [14]:
x = 10
y = 2
print(x ** y)

100

In [15]:
x = 10.0
print(type(x))

<class 'float'>

In [16]:
x = "10.0"
print(type(x))

<class 'str'>

In [17]:
x = 10
print(type(x))

<class 'int'>

In [19]:
x = 10.0
y = 5
z = x + y
print(z)
print(type(z))

15.0
<class 'float'>

In [20]:
x = "10.0"
y = 5
z = x + y
print(z)
print(type(z))

TypeError: can only concatenate str (not "int") to str

In [21]:
x = "10.0"
y = 5
z = y + x
print(z)
print(type(z))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
x = 6
y = 4
product = x * y
print(product)

24

In [24]:
rad = 2
pi = 3.14
area = rad ** 2 * pi
print(area)

12.56

In [31]:
name = "Mark"
job = "clown"
longer_string = "My name is " + name + ". I am the " + job + "."
print(longer_string)

My name is Mark. I am the clown.

In [35]:
# f string
name = "Mark"
job = "clown"
phrase = f"My name is {name} and I am the {job}."
print(phrase)

My name is Mark and I am the clown.

In [41]:
# slicing text strings
filename = "D:\Mark\work\04 ESCC\a training\2024 Python"
substr1 = filename[10]
substr2 = filename[10:12]
substr3 = filename[-4:]
# need to understand what is happening in substr4, the spaces in the string may be causing a problem
substr4 = filename[12:-2]
print(substr4)

 ESCC trainingÂ‚4 Pyth

In [42]:
phrase = "reverse this phrase"
reversed = phrase[-1::-1]
print(reversed)

esarhp siht esrever

In [51]:
# EXERCISE - slice this string into the 3 animals
slice = "dog cat racoon"
substr1 = slice[0:3]
substr2 = slice[4:7]
substr3 = slice[8:]

print(substr1)
print(substr2)
print(substr3)

dog
cat
racoon

In [59]:
# lists
list_1 = [1,'dave',12.25]
print(type(list_1))
print(list_1)

<class 'list'>
[1, 'dave', 12.25]

In [61]:
colours = ['red','blue','green,','purple']
# [start:stop:step]
print(colours[::2])

['red', 'green,']

In [62]:
colours = ['red','blue','green,','purple']
# [start:stop:step]
print(colours[1::2])

['blue', 'purple']

In [67]:
colours = ['red','blue','green,','purple']
# [start:stop:step]
colours.append('teal')
print(colours)

['red', 'blue', 'green,', 'purple', 'teal']

In [74]:
colours = ['red','blue','green,','purple']
# [start:stop:step]
colours.append(['teal','orange'])
print(colours[4])

['teal', 'orange']

In [75]:
x = 5
x = 6
x = 7
x += 1
print(x)

8